onboarding.json
{
  "name": "Onboard AWS Developer (Email Trigger)",
  "nodes": [
    {
      "parameters": {
        "email": "devops+onboard@your-domain.com",
        "password": "your-password",
        "host": "imap.your-domain.com",
        "port": 993,
        "secure": true,
        "mailbox": "INBOX",
        "downloadAttachments": false
      },
      "name": "IMAP Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [200, 300],
      "credentials": {
        "emailImap": {
          "id": "YOUR_IMAP_CREDENTIAL_ID"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const emailBody = $json.text;\n\nconst username = emailBody.match(/Username:\\s*(\\S+)/);\nconst email = emailBody.match(/Email:\\s*(\\S+)/);\n\nreturn [{\n  json: {\n    UserName: username ? username[1] : '',\n    UserEmail: email ? email[1] : ''\n  }\n}];"
      },
      "name": "Parse Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "create",
        "userName": "={{$json.UserName}}"
      },
      "name": "Create IAM User",
      "type": "n8n-nodes-base.awsIam",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "aws": {
          "id": "YOUR_AWS_CREDENTIAL_ID"
        }
      }
    },
    {
      "parameters": {
        "resource": "accessKey",
        "operation": "create",
        "userName": "={{$json.UserName}}"
      },
      "name": "Create Access Key",
      "type": "n8n-nodes-base.awsIam",
      "typeVersion": 1,
      "position": [800, 300],
      "credentials": {
        "aws": {
          "id": "YOUR_AWS_CREDENTIAL_ID"
        }
      }
    },
    {
      "parameters": {
        "resource": "policy",
        "operation": "attachToUser",
        "userName": "={{$json.UserName}}",
        "policyArn": "arn:aws:iam::aws:policy/ReadOnlyAccess"
      },
      "name": "Attach Policy",
      "type": "n8n-nodes-base.awsIam",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "aws": {
          "id": "YOUR_AWS_CREDENTIAL_ID"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@your-domain.com",
        "toEmail": "={{$json.UserEmail}}",
        "subject": "Your AWS IAM Credentials",
        "text": "Hello {{$json.UserName}},\\n\\nHere are your AWS credentials:\\nAccess Key ID: {{$json.AccessKey.AccessKeyId}}\\nSecret Access Key: {{$json.AccessKey.SecretAccessKey}}\\n\\nRegards,\\nDevOps Team"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1200, 300],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#devops-onboarding",
        "text": "✅ New AWS IAM user {{$json.UserName}} created. Credentials sent to {{$json.UserEmail}}"
      },
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1400, 300],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID"
        }
      }
    }
  ],
  "connections": {
    "IMAP Email": {
      "main": [
        [
          {
            "node": "Parse Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email": {
      "main": [
        [
          {
            "node": "Create IAM User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IAM User": {
      "main": [
        [
          {
            "node": "Create Access Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Access Key": {
      "main": [
        [
          {
            "node": "Attach Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Policy": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}
